# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/
.idea/
*.isar*
libisar.so

coverage/
fonts/*
!fonts/.gitkeep

bin/server
bin/clear
bin/dump
bin/backup

users.json
