name: Dart CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  analyze:
    runs-on: ubuntu-latest

    container:
      image: dart:latest

    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: dart pub get
      - name: Run static analysis
        run: dart analyze
      - name: Check for automatic fixes
        run: |
          if dart fix --dry-run | grep 'Nothing to fix'; then
            echo "No fixes available."
          else
            echo "Fixes available. Please run 'dart fix' locally and push the changes."
            exit 1
          fi
      - name: Install fonttools and rsync
        run: |
          apt-get update -y
          apt-get install -y fonttools rsync
      - name: Run tests
        run: dart test --exclude-tags=skip-ci --coverage=./coverage
      - name: Generate LCOV report
        run: dart run coverage:format_coverage --lcov --in=coverage --out=coverage.lcov  --report-on=lib
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: coverage.lcov
          fail_ci_if_error: true
      - name: Setup SSH agent
        uses: webfactory/ssh-agent@v0.8.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
          log-public-key: false
      - name: Deploy to server
        if: github.ref == 'refs/heads/main'
        run: |
            dart compile exe bin/server.dart -o bin/server
            dart compile exe bin/clear.dart -o bin/clear
            dart compile exe bin/backup.dart -o bin/backup
            dart compile exe bin/dump.dart -o bin/dump
            rsync -vaz -e "ssh -o StrictHostKeyChecking=no" bin/server ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:/srv/football-api/dart-api/bin
            rsync -vaz -e "ssh -o StrictHostKeyChecking=no" bin/clear ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:/srv/football-api/dart-api/bin
            rsync -vaz -e "ssh -o StrictHostKeyChecking=no" bin/backup ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:/srv/football-api/dart-api/bin
            rsync -vaz -e "ssh -o StrictHostKeyChecking=no" bin/dump ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:/srv/football-api/dart-api/bin
            rsync -vaz -e "ssh -o StrictHostKeyChecking=no" ecosystem.config.json ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:/srv/football-api/dart-api
            ssh ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} "source ~/.bashrc; cd /srv/football-api/dart-api; pm2 restart ecosystem.config.json"
